<!DOCTYPE html>
<html lang="ja">
 <head>
   <meta charset="UTF-8">
   <link rel="stylesheet" href="../../static/css/style.css">
   <title>コメント管理</title>
 </head>
 <body>
  <div class="sureddo">
   <h2>コメント管理</h2>
   {% if ok != "" %}
   <p style="color: rgb(43, 0, 255);">{{ok}}</p>
   {% endif %}
    {% for res in board %}
      <p>依頼ID：{{res.delete_comment_id}}</p>
      <p>スレッド名：{{ res.thread_name }}</p>
      <p>コメントID：{{ res.comment_id }}</p>
      <p>投稿日：{{ res.date }}</p>
      <p>コメント内容：{{ res.comment }}</p>
      <p>投稿者：{{ res.user_id }}</p>
      <p>理由：{{ res.reason }}</p>
      <form action="{{url_for('board_edit_page_del')}}" method="post">
        <input type="hidden" name="delete_comment_id" value="{{ res.delete_comment_id }}">
        <input type="hidden" name="comment_id" value="{{ res.comment_id }}">
        <input type="submit" value="コメント削除" class="suredel">
        <p>----------------------------------------------------------</p>
      </form>
    {% endfor %}
  </div>
  <a class="goki" a href="{{ url_for('adtop') }}">戻る</a>
  <style>h2{font-size: 30px;}</style>
 </body>
 </html>
